<div class="row animated fadeIn">
    <div class="col-md-12">
        <h4 class="display-4 text-primary">Galeria de Fotos</h4>
        <hr class="bg-primary">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-columns">
            <div class="card animated fadeIn">
                <img class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Titulo de la imagen</h5>
                    <p class="card-text">Datos de la imagen</p>
                </div>
            </div>
        </div>

    </div>
</div>